*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' , sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#151515,#4e085f);
    padding: 10px;
}
.todolist{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todolist h2{
    color: #002765;
    display: flex;
    margin-bottom: 20px;
}
.todolist h2 img {
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
.bn632-hover {
    width: 100px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: none;
    height: 40px;
    text-align:center;
    border: none;
    outline: none;
    background-size: 300% 100%;
    border-radius: 40px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
    
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn20 {
    background-image: linear-gradient(
      to right,
      #667eea,
      #764ba2,
      #6b8dd6,
      #8e37d7
    );
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
  }
  ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
  }
  ul li::before {
    content: '' ;
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
  }
  ul li.checked{
    color:#555;
    text-decoration: line-through;
  }
  ul li.checked::before{
    background-image: url(/sticker-png-check-mark-symbol-checkbox-violet-purple-logo-line-circle-material-property-thumbnail.png);
  }
  ul li span{
    position: absolute;
    right : 0 ;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
  }
  ul li span:hover{
    background: #edeef0;
  }